* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: white;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.app {
  height: 102%;
  width: 100%;
  overflow: hidden;
}

.main-content {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
  top: 0;
}

.main-content.active {
  position: absolute;
  -webkit-transition: 1s;
  transition: 1s;
  transform: translateY(-55%);
  -webkit-transform: translateY(-55%);
}

.left-wrapper {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 51% 36%;
      grid-template-columns: 51% 36%;
  -ms-grid-rows: 53%;
      grid-template-rows: 53%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quotes-wrap {
  position: relative;
  bottom: 28%;
  left: 1%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100% 0%;
      grid-template-columns: 100% 0%;
  -ms-flex-line-pack: center;
      align-content: center;
  max-width: 42%;
  height: 33%;
  font-size: 1.4rem;
  font-weight: 300;
  -ms-grid-column: span 2;
      grid-column-start: span 2;
}

#quote {
  margin-bottom: 1rem;
  font-style: italic;
}

.fa-sync-alt {
  margin-top: 15px;
  margin-left: 15px;
  z-index: 999999;
}

.fa-sync-alt:hover {
  cursor: pointer;
  font-size: 1.8rem;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

#greeting {
  font-weight: 300;
  font-size: 1.5rem;
  letter-spacing: 7px;
}

#greet {
  display: inline;
}

.fa-sun {
  margin-right: 1rem;
}

#time {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 12rem;
}

#am-pm {
  display: inline;
  font-size: 3rem;
  font-weight: 300;
}

#location {
  font-size: 1.4rem;
  letter-spacing: 7px;
}

.right-wrapper {
  height: 100%;
  width: 50%;
}

.wip-container {
  height: 82%;
}

.slide-wrap {
  height: 75%;
}

#slide-btn {
  position: relative;
  top: 76%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11px 7px 11px 20px;
  margin-left: 62%;
  font-size: 1.2rem;
  letter-spacing: 0.3rem;
  border-radius: 42px;
  min-width: 14%;
  border: none;
  cursor: pointer;
  color: #7d7d7d;
  background-color: #ffffff;
}

#slide-btn:hover .fa-chevron-down {
  opacity: 0.5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#slide-btn.active {
  -webkit-transition: 2s;
  transition: 2s;
}

#more {
  color: #303030;
  display: inline;
}

.fa-chevron-down {
  background: black;
  border-radius: 50%;
  margin-left: 5px;
  color: white;
  padding: 6px 1px 4px 7px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  font-size: 1.4rem;
}

.fa-chevron-down.active {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  content: "LESS";
}

@media (max-width: 1170px) {
  .left-wrapper {
    -ms-grid-columns: 56% 36%;
        grid-template-columns: 56% 36%;
  }
  .quotes-wrap {
    left: 7%;
    max-width: 61%;
  }
  #time {
    font-size: 10rem;
  }
  #slide-btn {
    margin-left: 40%;
  }
}

@media (max-width: 460px) {
  .left-wrapper {
    -ms-grid-rows: 59% 26% 13%;
        grid-template-rows: 59% 26% 13%;
  }
  .quotes-wrap {
    height: 39%;
    font-size: 1rem;
    left: 4%;
    bottom: 14%;
    max-width: 81%;
    line-height: 1.6;
  }
  #greeting {
    font-size: 1.6rem;
    letter-spacing: 4px;
  }
  #greeting {
    font-size: 1rem;
  }
  #time {
    font-size: 6rem;
  }
  .time-info {
    -ms-grid-column: span 2;
        grid-column-start: span 2;
    line-height: 1.3;
    left: 5%;
  }
  #am-pm {
    font-size: 2rem;
  }
  #location {
    font-size: 1.2rem;
    letter-spacing: 2px;
  }
  .slide-wrap {
    height: 31%;
  }
  #slide-btn {
    top: 0;
    margin: 0;
    left: 0;
    padding: 7px 7px 7px 10px;
    font-size: 1rem;
  }
  #slide-btn i {
    font-size: 1rem;
  }
}

.blur-bg, .secondary-content {
  position: absolute;
  height: 55%;
  top: 100%;
  width: 100%;
}

.blur-bg {
  -webkit-filter: blur(1px);
          filter: blur(1px);
  background: radial-gradient(circle, rgba(255, 255, 255, 0.9) 0%, rgba(175, 175, 175, 0.9) 37%);
}

.blur-bg.night {
  -webkit-filter: blur(10px);
          filter: blur(10px);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background: rgba(0, 0, 0, 0.6);
}

.secondary-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weather-wrapper {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  height: 66%;
  width: 82%;
  font-size: 1.8rem;
  line-height: 1.5;
  color: black;
}

.left-data {
  border-right: 1px solid gray;
}

.right-data {
  width: 48%;
  margin-left: 20%;
}

.data-header {
  color: #272727;
  font-weight: 300;
}

.data-footer {
  color: black;
}

.night-tog.active {
  color: #ffffff;
}

@media (max-width: 1000px) {
  .weather-wrapper {
    -ms-grid-columns: 56% 50%;
        grid-template-columns: 56% 50%;
    font-size: 1.4rem;
  }
}

@media (max-width: 460px) {
  .weather-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 100%;
    width: 85%;
    font-size: 1.1rem;
    line-height: 1.5;
  }
  .left-data, .right-data {
    width: 100%;
  }
  .left-data {
    border-right: none;
  }
  .right-data {
    margin: 0;
  }
  .data-header {
    font-size: 1.1rem;
  }
}
/*# sourceMappingURL=style.css.map */