* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: white;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.app {
  height: 102%;
  width: 100%;
  overflow: hidden;
}

.main-content {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
  top: 0;
}

.main-content.active {
  position: absolute;
  -webkit-transition: 1s;
  transition: 1s;
  top: -55%;
}

.left-wrapper {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quotes-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 101% 0%;
      grid-template-columns: 101% 0%;
  -ms-flex-line-pack: center;
      align-content: center;
  max-width: 61%;
  height: 19%;
  font-size: 1.4rem;
  font-weight: 300;
}

#quote {
  margin-bottom: 1rem;
  font-style: italic;
}

.fa-sync-alt {
  margin-top: 15px;
  margin-left: 15px;
  z-index: 999999;
}

.fa-sync-alt:hover {
  cursor: pointer;
  font-size: 1.8rem;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.time-info {
  margin-top: 44%;
}

#greeting {
  font-weight: 300;
  font-size: 1.5rem;
  letter-spacing: 7px;
}

#greet {
  display: inline;
}

.fa-sun {
  margin-right: 1rem;
}

#time {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 12rem;
}

#am-pm {
  display: inline;
  font-size: 3rem;
  font-weight: 300;
}

#location {
  font-size: 1.4rem;
  letter-spacing: 7px;
}

.right-wrapper {
  height: 100%;
  width: 50%;
}

.wip-container {
  height: 82%;
}

#slide-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11px 7px 11px 20px;
  margin-left: 62%;
  font-size: 1.2rem;
  letter-spacing: 0.3rem;
  border-radius: 42px;
  min-width: 14%;
  border: none;
  cursor: pointer;
  color: #7d7d7d;
  background-color: #ffffff;
}

#slide-btn:hover .fa-chevron-down {
  opacity: 0.5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#slide-btn.active {
  -webkit-transition: 2s;
  transition: 2s;
}

#more {
  color: #303030;
  display: inline;
}

.fa-chevron-down {
  background: black;
  border-radius: 50%;
  margin-left: 5px;
  color: white;
  padding: 6px 1px 4px 7px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  font-size: 1.4rem;
}

.fa-chevron-down.active {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  content: "LESS";
}

@media only screen and (max-width: 1810px) and (max-height: 876px) {
  .quotes-wrap {
    max-width: 86%;
    margin-top: 3%;
    margin-left: 15%;
    height: 23%;
    font-size: 1.3rem;
  }
  .time-info {
    margin-top: 37%;
    margin-left: -8%;
  }
  #greeting {
    font-size: 1.3rem;
  }
  #time {
    font-size: 10rem;
  }
  #am-pm {
    font-size: 2.8rem;
  }
  .right-wrapper {
    width: 45%;
  }
  #location {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 1800px) and (max-height: 833px) {
  .time-info {
    margin-top: 36%;
    margin-left: 0%;
  }
}

@media only screen and (max-width: 800px) and (max-height: 1280px) {
  .main-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .left-wrapper {
    height: 84%;
    width: 100%;
  }
  .quotes-wrap {
    height: 48%;
    min-width: 81;
  }
  .time-info {
    margin-left: -8%;
  }
  .right-wrapper {
    height: 8%;
    width: 13%;
  }
  .quotes-wrap {
    height: 48%;
  }
}
/*# sourceMappingURL=style.css.map */